# Force Unix line endings for files that run inside Linux containers
docker-entrypoint.sh text eol=lf
Dockerfile text eol=lf
supervisord.conf text eol=lf
docker-compose.yml text eol=lf
.dockerignore text eol=lf
